<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Alta Estudiante</title>
  </head>
  <body>
    <h1>Formulario de Alta de Estudiantes</h1>
    {% if success %}
    <p style="color: green">Estudiante agregado correctamente</p>
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      <label>Nombre:</label>
      <input type="text" name="nombre" required /><br />

      <label>Apellido:</label>
      <input type="text" name="apellido" required /><br />

      <label>Edad:</label>
      <input type="number" name="edad" required /><br />

      <label>Curso:</label>
      <select name="curso">
        {% for c in cursos %}
        <option value="{{ c.id }}">{{ c.nombre }}</option>
        {% endfor %}</select
      ><br />

      <button type="submit">Guardar</button>
    </form>
  </body>
</html>
